section {
    display: grid;
    grid-template-columns: 65px auto 500px;
    grid-template-rows: 65px auto;
    grid-template-areas: "nav nav nav"
        "side fetch form";

    height: 100vh;
    width: 100%;
}

section .navbar {
    grid-area: nav;

    display: flex;
    align-items: center;

    background-color: white;
    border-bottom: 1px solid #CCD1CF;
}

section .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    background-color: white;
}

section .navbar ul div {
    display: flex;
    align-items: center;
    gap: 15px;
}

section .navbar ul div .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65px;
}

section .navbar ul i {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    color: white;
    border-radius: 10px;
    border: 3px solid var(--purple);
    background-color: var(--purple);
}

section .navbar ul li:not(div li) {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 0 15px;
}

section .navbar ul li:not(div li) span {
    color: #505050;
}

section .navbar ul i:not(.logo i):hover {
    border: 3px solid var(--green);
    background-color: var(--green);

    cursor: pointer;
}

section .navbar ul div button {
    border-radius: 10px;
    background-color: transparent;
}

section .navbar ul div input {
    height: 35px;

    padding: 10px 15px;

    outline: none;
    border: 3px solid var(--purple);
    border-radius: 10px;

    appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

section .navbar ul div input:focus {
    border: 3px solid var(--green);
}

section .sidebar {
    grid-area: side;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding: 25px 0;

    background-color: #F5F5F5;
    border-right: 1px solid #CCD1CF;
}

section .sidebar li i {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    color: white;
    border-radius: 10px;
    border: 3px solid var(--green);
    background-color: var(--green);

    cursor: pointer;
}

section .sidebar li i:hover {
    border: 3px solid var(--purple);
    background-color: var(--purple);
}

.fetch {
    grid-area: fetch;

    padding: 50px;

    overflow-y: auto;
}

.fetch .fetch-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 35px;

    position: relative;
}

.fetch .fetch-header i {
    display: none;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    background: lightcoral;
    color: white;
    border-radius: 10px;

    cursor: pointer;

    position: absolute;
    right: 0;
}

.fetch .fetch-header i:hover {
    background: red;
}

.fetch #cep-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.fetch .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    width: 100%;

    padding: 50px;

    border-radius: 10px;
    border: 1px solid #CCD1CF;
}

.fetch .card .card-header {
    width: 100px;
}

.fetch .card .card-header i {
    color: var(--purple);
    font-size: 32px;
}

.fetch .card .card-body {
    width: 100%;
}

.fetch .card .card-footer {
    display: flex;
    gap: 15px;
}

.fetch .card .card-footer .select-cep {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    color: white;
    border-radius: 10px;
    border: 3px solid var(--purple);
    background-color: var(--purple);

    cursor: pointer;
}

.fetch .card .card-footer .select-cep:hover {
    border: 3px solid var(--green);
    background-color: var(--green);
}

.fetch .card .card-footer .delete-cep {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    color: white;
    border-radius: 10px;
    border: 3px solid lightcoral;
    background-color: lightcoral;

    cursor: pointer;
}

.fetch .card .card-footer .delete-cep:hover {
    border: 3px solid red;
    background-color: red;
}

.form {
    grid-area: form;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 50px;
    overflow-y: auto;

    background: #F5F5F5;
    border-left: 1px solid #CCD1CF;
}

.form h1 {
    margin-bottom: 35px;
}

.form p {
    text-align: center;

    color: #505050;
}

.form form {
    display: none;
    flex-direction: column;
    gap: 25px;

    width: 100%;
}

.form form input:not(input[type="radio"]) {
    width: 100%;
    padding: 10px 15px;

    font-size: 14px;

    outline: none;
    border: 3px solid var(--purple);
    border-radius: 10px;
}

.form form input::placeholder {
    color: #505050;
}

.form form input::placeholder {
    color: #505050;
}

.form form input[type="radio"] {
    margin-right: 5px;
}

.form form .group-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.form form .group-input button {
    width: 100%;
    padding: 10px 15px;

    font-weight: 700;
    color: var(--green);
    text-transform: uppercase;
    background-color: white;

    outline: none;
    border: 3px solid var(--green);
    border-radius: 10px;

    cursor: pointer;
}

.form form .group-input button:hover {
    color: white;
    background-color: var(--green);
}