@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

html {
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
}

input::placeholder {
    color: #505050;
}

:root {
    --background-pri: #153d78;
    --purple: #8C52E5;
    --green: #00DF4D;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    position: relative;
}