@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

html {
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
}

:root {
    --background-pri: #153d78;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px auto;
    grid-template-areas: "nav"
        "content";

    height: 100%;
}